@font-face {
    font-family: PixelMplus10;
    /* src: url(‘../font/PixelMplus10-Regular.eot’); */	/* IE9 Compat Modes	*/
    /* src: url(‘../font/PixelMplus10-Regular.eot?#iefix’) format(‘embedded-opentype’),*/	/* IE6-IE8	*/
    /* src: url(‘../font/PixelMplus10-Regular.woff’) format(‘woff’)*/	/* Modern Browsers	*/
    /* url(‘../font/PixelMplus10-Regular.ttf’) format(‘truetype’) */	/* Safari, Android, iOS	*/
    /* url(‘../font/PixelMplus10-Regular.svg#svgFontName’) format(‘svg’);*/	/* Legacy iOS	*/
    src: url("../font/PixelMplus10-Regular.ttf");
}
    
body {
    background: #000;
    padding: 0;
    margin: 0;
}